<!doctype html>
<!--[if IE 7]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]--><head>	
    <title>CMS | [SITE_NAME]</title>
    <script src="/[DIRECTORY]/Assets/Scripts/Utils/modernizr.min.js"></script>
    <meta charset="utf-8" />
    <meta name="author" content="Storm Creative" />
</head>
<link type="text/plain" rel="author" href="humans.txt" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/structure.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/skin.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/header.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/button.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/icons.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/modal.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/breadcrumb.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/feedback.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/nav.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/inputs.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/form.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/listing.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/feedback.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/brand.css" />
    <link rel="stylesheet" media="only screen and (min-width: 600px)" href="/[DIRECTORY]/Assets/Styles/600.css" />
    <link rel="stylesheet" media="only screen and (min-width: 768px)" href="/[DIRECTORY]/Assets/Styles/768.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/specifics.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/animation.css" />
    <link rel="stylesheet" href="/[DIRECTORY]/Assets/Styles/extend.css" />
    <!--[if IE]>
    	<link rel="stylesheet" href="Assets/Styles/IE.css" />
    <![endif]-->
    <script src="/[DIRECTORY]/Assets/Scripts/Utils/respond.min.js"></script>
<body>
	<header class="gradbar">
        <div class="contain cf">
            <a class="logo" href="/">Company Logo</a>
            <ol class="hoz btns glob-nav">
                <li><a href="#" class="btn f-btn selected">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a></li>
                <li><a href="#" class="btn m-btn">Visit Site</a></li>
                <li><a href="#" class="btn e-btn">Log Out</a></li>
            </ol>
            <nav class="nav nav-des">
                <ol class="">
                    <li><a class="active" href="#"><span class="spr i-das"></span>Dashboard</a></li>
                    <li><a href="/GitHub/CMS/listing/news"><span class="spr i-pag"></span>Pages</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">Dashboard</a></li>
                </ol>
            </nav>
        </div>
    </header>
    <div class="contain body cf">