<article class="article">
	[IF ADD_ANOTHER]
	<a href="/[DIRECTORY]/blog/add" class="fbk add">
       <p>Add a new blog post.</p>
    </a>
    [/ENDIF ADD_ANOTHER]
    <h1 class="heading gradbar">Blog Article</h1>
    <form method="post" action="" id="form" enctype="multipart/form-data">
    <input type="hidden" name="hidden_id" value="[HIDDEN_ID]" />
    <input type="hidden" name="blog_imgname" id="imgname"  />
    <div class="module form cf" > 
    	[ALERT]
        
        <label class="label" for="blog_title">Blog title</label>
        <input type="input" name="blog_title" value="[BLOG_TITLE]" class="input"  />
        
        <label class="label" for="img">Image</label>
       	<span class="img" id="img-preview">[BLOG_IMGNAME]</span>
        <ol class="hoz btns img-opts">
            <li><input type="file" name="images" id="upload" multiple="true" accept="image/*" />
				<input type="button" class="btn f-btn" id="upload-link" value="Browse Files"></li>
            <li><input type="button" name="removeImg" id="removeImg" class="btn e-btn" value="Remove" /></li>
            <li id="clear-files"></li>
            <li id="upload-files"></li>
            <li><img src="/[DIRECTORY]/Assets/Images/Gif/ajax-loader.gif" id="ajax-loader" style="display:none;" /></li>
        </ol>
        
        
        <label class="label" for="wysiwyg">Blog Content</label>
        <textarea name="blog_content" id="wysiwyg" class="wysiwyg">[BLOG_CONTENT]</textarea>
      
    
    </div>
    
    [IF SHOW_CATEGORIES]
    <p class="heading gradbar">Assign Tags</p>
    <div class="module cf elem-add" data-module="module">
	<a href="/[DIRECTORY]/blog/categories" class="fbk add">
       <p>Add a new category.</p>
    </a>
        <ol class="listing">
        [FOREACH categories as cat]
            <li>
                <p><a href="/[DIRECTORY]/blog/categories/[cat.categories_id]">[cat.categories_title]</a><small>Last Updated: [cat.categories_date]</small></p>
                <ol class="hoz btns edit-opts solo">
                    <li><input type="checkbox"  name="blog_categories[]" [cat.categories_checked] id="add[cat.categories_id]" value="[cat.categories_id]" /><label for="add[cat.categories_id]" class="btn"><span class="spr i-tic">Add</span></label></li>
                </ol>
            </li>
        [/categories FOREACH]
        </ol>
    </div>
    [/ENDIF SHOW_CATEGORIES]
    <input type="submit" name="save" class="btn" value="Save" />
    </form>
</article>