<article class="article">
	<p class="heading gradbar">Create a generic page</p>
    <form class="module form cf" method="post" action="">
    	<p>What would you like to call this type of page?</p>
        <label class="label" for="">Page name</label>
        <input class="input" name="name" />
        <small class="hint"><strong>NOTE:</strong> This is also the table name. So don't use any funky symbols; and limit spaces to <strong>ONE</strong></small>
        <p>Tick which page attributes you would like:</p>
        <span class="container">
        	<input type="checkbox" id="title" name="title" value="title" class="btn checkb" />
            <label class="" for="title">A page title?</label>
        </span>
        <span class="container">
            <input type="checkbox" id="image" name="image" value="image" class="btn checkb" />
            <label class="" for="image">An Image for the page?</label>
      	</span>
        <span class="container" id="noimg" style="display:none;padding-left: 20px;">
            <input type="checkbox" id="img-no" name="multiple" value="multiple" class="btn checkb" />
            <label for="img-no">Multiple Images?</label>
        </span>
        <span class="container">
            <input type="checkbox" id="content" name="content" value="content" class="btn checkb" />
            <label class="" for="content">WYSIWYG - Main Content for the page?</label>
      	</span>
        <span class="container">
        	<input type="checkbox" id="url" name="url" value="url" class="btn checkb" />
            <label class="" for="url">A URL input?</label>
        </span>
       	<span class="container">
            <input type="checkbox" id="dropdowns" name="dropdowns" value="dropdowns" class="btn checkb" />
            <label class="" for="dropdowns">Dropdowns to be able to be assigned?</label>
      	</span>
        <span class="container">
            <input type="checkbox" id="downloads" name="downloads" value="downloads" class="btn checkb" />
            <label class="" for="downloads">Downloads to be able to be assigned?</label>
      	</span>
        <input type="submit" name="save" class="btn" value="Save" />
    </form>
</article>