<article class="article">
	<!-- These are conditional tags that the PHP renders - rely on boolean TRUE / FALSE values -->
	[IF ADD_ANOTHER]
	<a href="/[DIRECTORY]/news/add" class="fbk add">
       <p>Add another item</p>
    </a>
    [/ENDIF]
    <h1 class="heading gradbar">Page tile</h1>
    <form class="module form cf" method="post" action="" id="form" enctype="multipart/form-data">
    	<input type="hidden" name="hidden_id" value="[HIDDEN_ID]" />
    	[ALERT]
        [SWITCH]
        <h2 class="title">Title for description</h2>
        <p>Thought it would be good to style a title just incase a point needs to be outlined!</p>
        <label class="label" for="">Label</label>
        <input type="input" name="news_title" value="[NEWS_TITLE]" class="input"  />
        <input type="hidden" name="news_imgname" id="imagename" value="" />
    	<label class="label" for="img">Image</label>
        <span class="img" id="img-preview"></span>
        <ol class="hoz btns img-opts">
            <li><input type="file" class="btn f-btn" id="fileselect" value="Upload" /></li>
            <li><input type="submit" class="btn e-btn" id="del-image" value="Remove Image" /></li>
            <li><img src="/[DIRECTORY]/Assets/Images/Gif/ajax-loader.gif" id="ajax-loader" style="display:none;" /></li>
        </ol>
        <label class="label" for="">Label</label>
        <input type="input" name="news_content" value="[NEWS_CONTENT]" class="input" />
        <small class="hint">Little hint</small>
        
        
        <span class="container">
            <label class="label" for="">URL</label>
            <input type="text" name="news_link" value="[NEWS_LINK]" id="url" class="input input-abbr" />
            <label for="url" class="gradbar abbr">http://</label>
        </span>
        <span class="container">
            <label class="label" for="">Twitter</label>
            <input type="text" name="news_twitter" value="[NEWS_TWITTER]" id="twitter" class="input input-abbr" />
            <label for="twitter" class="gradbar abbr">@</label>
        </span>
        <span class="container">
            <input type="checkbox" [NEWS_ON] name="news_on" value="1" id="cool" class="btn checkb" />
            <label class="" for="cool">Would you like me to do something cool for you?</label>
        </span>
        
        <input type="submit" name="save" class="btn" value="Submit" />
    </form>
</article>