<article class="article">
	[IF ADD_ANOTHER]
	<a href="/[DIRECTORY]/news/add" class="fbk add">
       <p>Add another item</p>
    </a>
    [/ENDIF ADD_ANOTHER]
    <h1 class="heading gradbar">[PAGE_HEADER]</h1>
    <form method="post" action="" id="form" enctype="multipart/form-data">
    <div class="module form cf" > 
    	<input type="hidden" name="hidden_id" id="hidden_id" value="[HIDDEN_ID]" />
        <input type="hidden" id="table_ref" value="[TABLE_REF]" />
        <input type="hidden" name="imgname" id="imgname" value="[HIDDEN_IMGNAME_VALUE]" />
    	[ALERT]
 
        [FOREACH text_inputs as input]
        <label class="label" for="">[input.input_title]</label>
        <input type="input" name="[input.input_name]" value="[INPUT_TITLE_VALUE]" class="input"  />
        [/text_inputs FOREACH]
        
        [IF SHOW_IMAGE]
        <label class="label" for="img">Image</label>
        <div id="image-list" style="overflow:hidden">
        [FOREACH images as image]
        	<div id="img_[image.img_name]">
                <span class="img" ><img src="/[DIRECTORY]/Assets/Uploads/Images/[image.img_name]" /></span>
                <input type="button" id="[image.img_name]" class="del-image" value="delete" />
            </div>
        [/images FOREACH]
        </div>
        <ol class="hoz btns img-opts" id="multi-upload">
            <li><input type="file" [MULTIPLE_UPLOAD] name="images" id="upload" accept="image/*" />
				<input type="button" class="btn f-btn" id="upload-link" value="Browse Files" /></li>
            <li><input type="button" name="removeImg" id="removeImg" class="btn e-btn" value="Remove" /></li>
        </ol>
        [/ENDIF SHOW_IMAGE]
        
        [FOREACH text_areas as textarea]
        <label class="label"  for="wysiwyg">[textarea.textarea_title]</label>
        <textarea name="[textarea.textarea_name]" class="wysiwyg" id="wysiwyg">[INPUT_CONTENT_VALUE]</textarea>
        [/text_areas FOREACH]
        
        [FOREACH url_inputs as url]
        <span class="container">
            <label class="label" for="url">URL</label>
            <input id="url" name="[url.url_name]" value="[INPUT_URL_VALUE]" class="input input-abbr" />
            <label for="url" class="gradbar abbr">http://</label>
        </span>
        [/url_inputs FOREACH]
        
    </div>
    [IF SHOW_DROPDOWNS]
        <p class="heading gradbar">Assign Dropdowns</p>
            <div class="module cf elem-add" data-module="module">
                <a href="/[DIRECTORY]/dropdowns" class="fbk add">
                <p>Add a new dropdown.</p>
                </a>
                <ol class="listing">
                [FOREACH dropdowns as drop]
                    <li>
                        <p><a href="/[DIRECTORY]/dropdowns/edit/[drop.dropdowns_id]">[drop.dropdowns_title]</a><small>Last Updated: [drop.dropdowns_date]</small></p>
                        <ol class="hoz btns edit-opts solo">
                            <li><input type="checkbox"  name="[TABLE]dropdowns[]" [drop.dropdowns_checked] id="add[drop.dropdowns_id]" value="[drop.dropdowns_id]" /><label for="add[drop.dropdowns_id]" class="btn"><span class="spr i-tic">Add</span></label></li>
                        </ol>
                    </li>
                [/dropdowns FOREACH]
                </ol>
            </div>
    [/ENDIF SHOW_DROPDOWNS]
    [IF SHOW_DOWNLOADS]
        <p class="heading gradbar">Assign Downloads</p>
            <div class="module cf elem-add" data-module="module">
                <a href="/[DIRECTORY]/downloads" class="fbk add">
                <p>Add a new download.</p>
                </a>
                <ol class="listing">
                [FOREACH downloads as down]
                    <li>
                        <p><a href="/[DIRECTORY]/downloads/edit/[down.downloads_id]">[down.downloads_id]</a><small>Last Updated: [down.downloads_date]</small></p>
                        <ol class="hoz btns edit-opts solo">
                            <li><input type="checkbox"  name="[TABLE]downloads[]" [down.downloads_checked] id="add[down.downloads_id]" value="[down.downloads_id]" /><label for="add[down.downloads_id]" class="btn"><span class="spr i-tic">Add</span></label></li>
                        </ol>
                    </li>
                [/downloads FOREACH]
                </ol>
            </div>
    [/ENDIF SHOW_DOWNLOADS]
    <input type="submit" name="save" class="btn" value="Save" />
    </form>
</article>