<article class="article">
	[IF ADD_ANOTHER]
	<a href="/[DIRECTORY]/page/[TABLE_REF]" class="fbk add">
       <p>Add another item</p>
    </a>
    [/ENDIF ADD_ANOTHER]
    <h1 class="heading gradbar">[PAGE_HEADER]</h1>
    <form method="post" action="" id="form" enctype="multipart/form-data">
    <div class="module form cf" > 
    	<input type="hidden" name="hidden_id" id="hidden_id" value="[HIDDEN_ID]" />
        <input type="hidden" id="table_ref" value="[TABLE_REF]" />
        <input type="hidden" name="imgname" id="imgname" value="[HIDDEN_IMGNAME_VALUE]" />
    	[ALERT]
 
 		[IF SHOW_TITLE]
        <label class="label" for="">Title</label>
        <input type="input" name="[TABLE_REF]_title" value="[INPUT_TITLE_VALUE]" class="input"  />
        [/ENDIF SHOW_TITLE]
        
        [IF SHOW_IMAGE]
        <label class="label" for="img">Image</label>
        <div id="image-list" style="overflow:hidden">
        [FOREACH images as image]
        	<div id="img_[image.img_name]">
                <span class="img" ><img src="/[DIRECTORY]/Assets/Uploads/Images/[image.img_name]" /></span>
                <input type="button" id="[image.img_name]" class="btn del-image" value="Delete Image" />
            </div>
        [/images FOREACH]
        </div>
        <ol class="hoz btns img-opts" id="multi-upload">
            <li><input type="file" [MULTIPLE_UPLOAD] name="images" id="upload" accept="image/*" />
				<input type="button" class="btn f-btn" id="upload-link" value="Browse Files" /></li>
            <li><input type="button" name="removeImg" id="removeImg" class="btn e-btn" value="Remove" /></li>
        </ol>
        [/ENDIF SHOW_IMAGE]
        
        [IF SHOW_CONTENT]
        <label class="label"  for="wysiwyg">Content</label>
        <textarea name="[TABLE_REF]_content" class="wysiwyg" id="wysiwyg">[INPUT_CONTENT_VALUE]</textarea>
        [/ENDIF SHOW_CONTENT]
        
        [IF SHOW_URL]
        <span class="container">
            <label class="label" for="url">URL</label>
            <input id="url" name="[TABLE_REF]_url" value="[INPUT_URL_VALUE]" class="input input-abbr" />
            <label for="url" class="gradbar abbr">http://</label>
        </span>
        [/ENDIF SHOW_URL]
        
    </div>
    <input type="submit" name="save" class="btn" value="Save" />
    </form>
    <script>var admin_images = [{ width: 600, uploader: '#upload' }];</script>
</article>