<article class="article">
	<a href="/[DIRECTORY]/[EDIT_PAGE]/" class="fbk add">
       <p>Add a new item to this list.</p>
    </a>
    <h1 class="heading gradbar">Listing</h1>
    <form class="module cf elem-del" name="delete-listing" method="post" action="">
     [ALERT]
        <ol class="listing">
        [FOREACH results as b]
            <li>
                <p><a href="/[DIRECTORY]/[EDIT_PAGE]/[b.news_id]">[b.news_title]</a><small>Last edited: [b.news_date]</small></p>
                <ol class="hoz btns edit-opts">
                    <li><a href="/[DIRECTORY]/[EDIT_PAGE]/[b.news_id]" class="btn f-btn"><span class="spr i-penc">Edit</span></a></li>
                    <li><input type="checkbox" name="delete[[b.news_id]]" value="[b.news_id]" id="delete_[b.news_id]" /><label for="delete_[b.news_id]" class="btn e-btn"><span class="spr i-bin">Delete</span></label></li>
                </ol>
            </li>
        [/FOREACH]
        </ol>
        <input type="submit" class="btn btn-dis" value="Delete" name="delete-btn" disabled="disabled" data-modal="true" />
    </form>
</article>