<article class="article">
	<a class="fbk error">
    	<p>WOW! This is a error msg</p>
    </a>
	<a class="fbk success">
    	<p>WAHOO! Well done this is a success msg</p>
    </a>
	<a href="#" class="fbk add">
    	<p>Would you like to add another page?</p>
    </a>
	<h1 class="heading gradbar">Apply widgets</h1>
    <form class="module cf elem-add" name="namesomething">
    	<ol class="listing">
        	<li>
            	<p><a href="#">Cool dropdown topoic</a><small>as seen on index.html, brad-pitt.html</small></p>
                <ol class="hoz btns edit-opts solo">
                    <li><input type="checkbox" id="add" /><label for="add" class="btn"><span class="spr i-tic">Add</span></label></li>
                </ol>
            </li>
        	<li>
            	<p><a href="#">Cool dropdown topoic</a><small>as seen on index.html, brad-pitt.html</small></p>
                <ol class="hoz btns edit-opts solo">
                    <li><input type="checkbox" id="add1" /><label for="add1" class="btn"><span class="spr i-tic">Add</span></label></li>
                </ol>
            </li>
        	<li>
            	<p><a href="#">Cool dropdown topoic</a><small>as seen on index.html, brad-pitt.html</small></p>
                <ol class="hoz btns edit-opts solo">
                    <li><input type="checkbox" id="add2" /><label for="add2" class="btn"><span class="spr i-tic">Add</span></label></li>
                </ol>
            </li>
    	</ol>
        <input type="submit" class="btn btn-dis" value="Update" disabled="disabled" />
    </form>
    <h1 class="heading gradbar">Listing</h1>
    <form class="module cf elem-del" name="delete-listing" method="post" action="">
	<a class="fbk add">
    	<p>WATCH IT. This is a warning whcih i might use for inviting the user to add stuff</p>
    </a>
    	<ol class="listing">
        	<li>
            	<p><a href="#">About.html</a><small>Last edited: 12/02/2012</small></p>
                <ol class="hoz btns edit-opts">
                	<li><a href="#" class="btn f-btn"><span class="spr i-penc">Edit</span></a></li>
                    <li><input type="checkbox" name="delete[]" value="about" id="delete" /><label for="delete" class="btn e-btn"><span class="spr i-bin">Delete</span></label></li>
                </ol>
            </li>
        	<li>
            	<p><a href="#">George-clooney.html</a><small>Last edited: 12/02/2012</small></p>
                <ol class="hoz btns edit-opts">
                	<li><a href="#" class="btn f-btn"><span class="spr i-penc">Edit</span></a></li>
                    <li><input type="checkbox" name="delete[]" value="george clooney" id="delete1" /><label for="delete1" class="btn e-btn"><span class="spr i-bin">Delete</span></label></li>
                </ol>
            </li>
        	<li>
            	<p><a href="#">Brad-pitt.html</a><small>Last edited: 12/02/2012</small></p>
                <ol class="hoz btns edit-opts">
                	<li><a href="#" class="btn f-btn"><span class="spr i-penc">Edit</span></a></li>
                    <li><input type="checkbox" name="delete[]" value="brads a dick" id="delete2" /><label for="delete2" class="btn e-btn"><span class="spr i-bin">Delete</span></label></li>
                </ol>
            </li>
        	<li>
            	<p><a href="#">Ashley-banks69ner.html</a><small>Last edited: 12/02/2012</small></p>
                <ol class="hoz btns edit-opts">
                	<li><a href="#" class="btn f-btn"><span class="spr i-penc">Edit</span></a></li>
                    <li><input type="checkbox" name="delete[]" value="ash is god" id="delete3" /><label for="delete3" class="btn e-btn"><span class="spr i-bin">Delete</span></label></li>
                </ol>
            </li>
        </ol>
        <input type="submit" class="btn btn-dis" value="Delete" name="delete-btn" disabled="disabled" data-modal="true" />
    </form>
	<h1 class="heading gradbar">Downloads</h1>
    <section class="module cf">
    	<ol class="listing">
        	<li>
            	<p><a href="#">Your_wonderful_document.pdf</a><small>Size: 18kb</small></p>
                <ol class="hoz btns edit-opts">
                	<li><a href="#" class="btn"><span class="spr i-dwl">Download</span></a></li>
                </ol>
            </li>
    	</ol>
    </section>
    <h1 class="heading gradbar">Page tile</h1>
    <form class="module form cf">
        <p>Incase you need to explain a few things before the <strong>inputs</strong> you can just use a simple p tag. It is <a href="#">styled</a> to just co-operate with its surroundings.</p>
        <p>You can even add multiple lines if you wish, sometimes it's best when it's broken up.</p>
        <h2 class="title">Title for description</h2>
        <p>Thought it would be good to style a title just incase a point needs to be outlined!</p>
        <label class="label" for="">Label</label>
        <input class="input">
        <label class="label" for="img">Image</label>
        <span class="img"><img src="Assets/Images/Core/test.jpg" alt="" /></span>
        <ol class="hoz btns img-opts">
            <li><input type="submit" class="btn f-btn" value="Upload"></li>
            <li><input type="submit" class="btn e-btn" value="Remove image"></li>
        </ol>
        <label class="label" for="">Label</label>
        <input class="input">
        <small class="hint">Little hint</small>
        <label class="label" for="">Label</label>
        <input class="input input-med">
        <label class="label" for="">Label</label>
        <input class="input input-sml">
        <small class="hint">Little hint</small>
        <label class="label" for="">D.O.B</label>
        <input class="input input-trio" maxlength="2">
        <input class="input input-trio" maxlength="2">
        <input class="input input-trio" maxlength="4">
        <span class="container">
            <label class="label" for="">URL</label>
            <input id="url" class="input input-abbr">
            <label for="url" class="gradbar abbr">http://</label>
        </span>
        <span class="container">
            <label class="label" for="">Twitter</label>
            <input id="twitter" class="input input-abbr">
            <label for="twitter" class="gradbar abbr">@</label>
        </span>
        <span class="container">
            <input type="checkbox" id="cool" class="btn checkb">
            <label class="" for="cool">Would you like me to do something cool for you?</label>
        </span>
        <label class="label" for="">Label</label>
        <input class="input">
        <label class="label" for="">Multiple inputs</label>
        <input class="input input-multi">
        <input class="input input-multi">
        <input class="input input-multi">
        <label class="label" for="">Label</label>
        <input class="input">
        <input type="submit" class="btn" value="Submit">
    </form>
</article>