<article class="article">
	
    <h1 class="heading gradbar">Blog Article</h1>
    <form method="post" action="" id="form" enctype="multipart/form-data">
    <div class="module form cf" > 
    	
        <ol class="hoz btns img-opts">
        	<li><input type="file" name="files" id="file-upload" multiple="true" accept="application/pdf" />
				<input type="button" class="btn f-btn" id="file-upload-link" value="Browse Files" /></li>
            <li><input type="button" name="removeImg" class="btn e-btn removeFile" value="Remove" /></li>
        </ol>
        
        <div id="filearea"></div>
        
    </div>
    
    </form>
      
    
</article>