/* 600+.css
 **********************************************************************/

/* 	1. Typography
	2. Layout
	3. Form Elements

 **********************************************************************/

/* 1. Typography
 **********************************************************************/
 


/* 2. Layout
 **********************************************************************/
 

.logo,
.label,
.img {
	float:left;	
}

.glob-nav {
	float:right;	
}

.login .fbk {
	width:92%;	
}


/* 3. Form Elements
 **********************************************************************/

.input,
.img,
.img-opts,
.hint,
.container {
	margin-bottom:2em;	
}

.label {
	display:inline-block;
	padding-right:01.7331023%; /* 10 / 577 */
	padding-top:2%;
	min-width:20.797227%; /* 120 / 577 */
}

[class="input"],
.input-multi,
.input-abbr {
	width:76.4696707%;	/* 447 / 577 */
}

.input {
	display:inline-block;
	padding:2%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-opts {
	clear:left;
}

.img-opts,
.hint,
.input-multi + .input-multi {
	margin-left:22.5303293%; /* 130 / 577 */
}

.hint {
	margin-top:-2.5em;	
}

.input-abbr {
	padding-left:12%;
}

.abbr {
	left:22.7036395%; /* 130 / 577 */
	max-height:16px;
	min-width:10%;
	padding:1.9% 0;
}

.cke_skin_kama {
	display:inline-block;
	width:76.4696707% !important; 	/* 447 / 577.. I realise I've repeated this from the inputs, but have to use important:( */
}