/* 768+.css
 **********************************************************************/

/* 	1. Typography
	2. Layout
	3. Navigation
	4. Form Elements

 **********************************************************************/

/* 1. Typography
 **********************************************************************/

 


/* 2. Layout
 **********************************************************************/


.article {
	float:right;
	width:68.8888889%;
}

/* 3. Form Elements
 **********************************************************************/
	
.abbr {
	min-height:0;
	padding:2% 0;	
}


/* 4. Navigation
 **********************************************************************/
 
 
.nav {
	display:block;
}