/* Breadcrumb.css
 **********************************************************************/
 

/* 1. Breadcrumb
 **********************************************************************/

.crumb {
	margin:0 0 2em;
	padding:0;
}

.crumb li a {
	color:#222;
}

.crumb li + li {
	margin-left:.5em;	
}

.crumb li + li:before {
	content:'/';
	display:inline-block;
	font-size:18px;
	font-weight:normal;	
	margin-right:.5em;
	position:relative;
	top:2px;
}

.crumb__current {
	font-weight:bold;	
}