/* Breadcrumb.css
 **********************************************************************/
 

/* 1. Breadcrumb
 **********************************************************************/

.crumb {
	background: rgb(99,99,99); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(99,99,99,1) 0%, rgba(84,84,84,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,99,99,1)), color-stop(100%,rgba(84,84,84,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(99,99,99,1) 0%,rgba(84,84,84,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(99,99,99,1) 0%,rgba(84,84,84,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(99,99,99,1) 0%,rgba(84,84,84,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(99,99,99,1) 0%,rgba(84,84,84,1) 100%); /* W3C */
	border-bottom:1px solid rgba(0, 0, 0, 0.8);
	margin:0;
	
	box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(215, 215, 215, 0.6);
}
 
.crumb:after {
	content:'';
	border-bottom:1px solid rgba(255, 255, 255, 0.15);
	display:block;
	width:100%;	
} 

.crumb li {
	float:left;
	padding:12px;
}