/* editor.css
 **********************************************************************/

/* 	1. Typography
	2. Layout

 **********************************************************************/

/* 1. Typography
 **********************************************************************/

 


/* 2. Layout
 **********************************************************************/

#cke_wysiwyg {
}

.cke_skin_kama {
	border:1px solid red;
	clear: left;
	display:block;
	visibility: inherit !important; /* To show wysiwyg */
	width:100% !important;
}

/* 3. Hidden elements
 **********************************************************************/
 
.cke_voice_label,
.cke_label {
	display:none;	
}



/* 4. Buttons
 **********************************************************************/
 
.cke_button a {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
	border:1px solid rgba(0, 0, 0, 0.15);
	border-left:0;
	font-weight:bold;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:7px 14px;
	text-shadow:0 -1px 0 rgba(255, 255, 255, 0.4);
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:inset 1px -1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 1px -1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 1px -1px 0 rgba(255, 255, 255, 0.5);
	
	-webkit-transition:box-shadow 0.2s ease;
	-moz-transition:box-shadow 0.2s ease;
	-ms-transition:box-shadow 0.2s ease;
	-o-transition:box-shadow 0.2s ease;
	-webkit-transition:box-shadow 0.2s ease;
}

.cke_button a:hover,
.cke_button a:focus,
.cke_button .cke_on{
	text-decoration:none;	
	
	-webkit-box-shadow:inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.no-boxshadow .cke_button a:hover,
.no-boxshadow .cke_button a:focus,
.no-boxshadow .cke_button a.selected {
	background:url(../Images/Css/bg-btn-hover-ie.png) left bottom repeat-x;
}

.cke_button a:active {
	-webkit-box-shadow:inset 0 0 50px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:inset 0 0 50px rgba(0, 0, 0, 0.3);
	box-shadow:inset 0 0 50px rgba(0, 0, 0, 0.3);
}

.cke_button .cke_button_bold {
	border:1px solid rgba(0, 0, 0, 0.15);
	
	-webkit-border-top-left-radius: 0.25em;
	-webkit-border-bottom-left-radius: 0.25em;
	-moz-border-radius-topleft: 0.25em;
	-moz-border-radius-bottomleft: 0.25em;
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}

.cke_button .cke_button_source {
	-webkit-border-top-right-radius: 0.25em;
	-webkit-border-bottom-right-radius: 0.25em;
	-moz-border-radius-topright: 0.25em;
	-moz-border-radius-bottomright: 0.25em;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.no-cssgradients .cke_button a {
	background:url(../Images/Css/bg-btn-ie.png) left bottom repeat-x #fff;
}

.no-rgba .cke_button a {
	border:1px solid #C7C7C7;
}



/* 5. Icons
 **********************************************************************/

.cke_icon {
	background-color:transparent;
	background-image:url('../Images/Css/Sprite.png');
	background-repeat:no-repeat;
	display:inline-block;
	text-indent:-999em;
}	

.cke_button_bold .cke_icon {
	background-position:0 -114px;
	height:10px;
	width:9px;
}	

/*.cke_button_bold .cke_icon:before {
	content:'B';
	display:inline-block;
	float:left;
	text-indent:0;	
}*/

.cke_button_italic .cke_icon {
	background-position:-9px -114px;
	height:10px;
	width:7px;	
}

.cke_button_numberedlist .cke_icon {
	background-position:-16px -114px;
	height:16px;
	width:23px;	
}

.cke_button_bulletedlist .cke_icon {
	background-position:0 -130px;
	height:14px;
	position:relative;
	top:1px;
	width:20px;	
}

.cke_button_link .cke_icon {
	background-position:-20px -130px;
	height:15px;
	position:relative;
	top:1px;
	width:15px;	
}

.cke_button_source .cke_icon {
	background-position:0 -145px;
	height:11px;
	width:20px;	
}