/* Extend.css
 **********************************************************************/

/* 	1. Inputs
	2. Labels

 **********************************************************************/

/* 1. Inputs
 **********************************************************************/


.input-med {
	width:60%;	
}

.input-sml {
	width:40%;	
}

.input-trio {
	display:inline-block;
	margin-left:0.4em;
	text-align:center;
	width:14%;	
}

/* 2. Labels
 **********************************************************************/