/* Handheld.css
 **********************************************************************/

/* 	1. Base
	2. 480+
	3. 768+
	4. 992+

 **********************************************************************/

/* 1. Base
 **********************************************************************/

/* 2. 480+
 **********************************************************************/

@media only screen and (min-width: 480px) {

/* 	1. Typography
	2. Layout

 **************************/


/* 1. Typography
 **************************/



/* 2. Layout
 **************************/


}


/* 3. 600+
 **********************************************************************/


@media only screen and (min-width: 600px) { 

/* 	1. Typography
	2. Layout

 **************************/



/* 1. Typography
 **************************/
 


/* 2. Layout
 **************************/	
 

.logo {
	float:left;	
}

.glob-nav {
	float:right;	
}

.input {
	padding:2.5% 2%;
	width:96%;
}

label {
	display:inline-block;
	padding-right:01.7331023%; /* 10 / 577 */
	min-width:20.797227%; /* 120 / 577 */
}

.input {
	display:inline-block;
	padding:2%;
	width:76.4696707%;	/* 447 / 577 */
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

}

/* 3. 768+
 **********************************************************************/

@media only screen and (min-width: 768px) {

/* 	1. Typography
	2. Layout

 **************************/
 



/* 1. Typography
 **************************/


/* 2. Layout
 **************************/


.article {
	float:right;
	width:68.8888889%;
}


}




/* 4. 992+
 **********************************************************************/

@media only screen and (min-width: 992px) {

header {
	border-color:green;
}

/* 	1. Typography
	2. Layout

 **************************/


/* 1. Typography
 **************************/
 


/* 2. Layout
 **************************/

	

}

/* 4. 2000+
 **********************************************************************/

@media only screen and (min-width: 2520px) {



/* Wow check you out on your 27inch. 3*9Inch */

}