/* Icons.css
 **********************************************************************/


/* 1. Button
 **********************************************************************/

.i-penc {
	background-position:0 0;
	height:17px;
	width:11px;	
}

.i-bin {
	background-position:-11px 0;
	height:17px;
	width:14px;	
}

.i-dwl {
	background-position:-25px 0;
	height:15px;
	width:15px;	
}