/* Icons.css
 **********************************************************************/


/* 1. Button
 **********************************************************************/

.i-penc {
	background-position:0 -7px;
	height:19px;
	width:11px;	
}

.i-bin {
	background-position:-12px -7px;
	height:17px;
	width:14px;	
}

.i-dwl {
	background-position:-26px -7px;
	height:15px;
	width:15px;	
}