/* Menu.css
 **********************************************************************/
 

/* 1. Menu
 **********************************************************************/
 
.nav ol {
	list-style:none;
	margin:0;
	padding:0;
}

.nav {
	display:none;
	position:absolute;
	text-align:left;
}


/* 2. Nav Desktop
 **********************************************************************/

.nav-des {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(86,86,86,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(86,86,86,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(86,86,86,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(86,86,86,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(86,86,86,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(86,86,86,1) 100%); /* W3C */
	top:100px;
	width:26.6666667%;
}

.nav-des a {
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
	border-top:1px solid rgba(0, 0, 0, 0.1);
	color:#fff;
	display:block;
	font-weight:bold;
	padding:2em 1.5em;
}