/* 
	Can't just set display:none as Chrome will refuse to trigger click event on input 
	What's odd is that I had display:none set for ages without any issues?
*/
#upload, #file-upload {
	left: -999em;
	position: absolute;
}


#upload-link,
#browsers {
	display: none;
}

#bar {
	background:#000;
	padding:1em 0;
	position: relative;
	width: 410px;
	
	border-radius:0.35em;
}

.btn-upload {
	display:inline-block;
}	

.progress {
	border-radius: 7px;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}

.progress:after {
	color: #fff;
	content: attr(data-percentage);
	display: block;
	text-align: center;
	width: 405px;
}


.thumbnail {
	/*display: block;
	margin: 1em 0 0;
	width: 100px;*/
}

input[type=button] {
	margin-top: 1em;
}
/************************
Uploadify Settings
************************/

.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	width: 350px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}